.table-view {
    -fx-font-size: 20pt;
}

.default-color0.chart-pie {
    -fx-pie-color: #003450;
}

.default-color1.chart-pie {
    -fx-pie-color: #e43e32;
}

.default-color2.chart-pie {
    -fx-pie-color: yellow;
}
